// Config: Ease
$ease-cb: cubic-bezier(.19,1,.22,1);

@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
@for $i from 1 through $delay_items {
  &:nth-child(#{$i}) {
   transition-delay: $delay_time * $i;
  }
 }
}
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s){
@for $i from 1 through $delay_items {
  &:nth-child(#{$i}) {
   animation-delay: $delay_time * $i;
  }
 }
}
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }

  // Layer top overlay
  & > #{$top_layer}{
    z-index: 2;
    position: relative;
  }
}

.sep{
  border: 0;
  width: 70%;
  height: 1px;
  margin: 1em 0;
  background-color: rgba(255,255,255,0.4);
}
.mast{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: $colorGreyLight;
  background-color: transparent;

  &__header{
    padding: 20px;
  }
  &__title{
    font-size: 60px;
    font-weight: 400;
    color: $colorGreenLight;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
  }

  // Letter animation
  &__title span{
    animation: letter-glow 0.7s 0s ease both;
  }
  //Letter animation
  &__text{
    font-size: $fontSize * 2;
    line-height: 1.5;
    white-space: pre;
  }
  &__text span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.10s);
  }
}

// Letter Glow
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px #66fcf1 }
  77%   { opacity: 1;  }
  100% { opacity:0.7; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}

@media screen and (max-width: 600px) {

    .mast{
        padding: 5px;
    }

    .mast__header{
        padding: 5px 0;
    }

    .mast__title{
        font-size: 30px;
    }

    .mast__text{
        font-size: 16px;
        white-space: pre-line;
    }
}
@media screen and (max-width: 800px) {

    .mast{
        padding: 5px;
    }

    .mast__header{
        padding: 5px 0;
    }

    .mast__title{
        font-size: $fontSize * 2;
    }

    .mast__text{
        font-size: 16px;
        white-space: pre-line;
    }
}
