// Main Colors
$colorBlack: #0b0c10;
$colorGreyDark: #1f2833;
$colorGreyLight: #c5c6c7;
$colorGreenLight: rgb(102, 252, 241);
$colorGreen: rgb(45, 153, 173);

// Colors SLIDER Project Section
$b1cd: #2d99ae;
$b1cl: #66fcf1;
$b2cd: #000050;
$b2cl: #0033FF;
$b3cd: #00501D;
$b3cl: #00FF44;
$b4cd: #e8db64;
$b4cl: #FF4E00;
$b5cd: #3e3e3e;
$b5cl: #bababa;
$black: #000;
$white: #fff;
$grey: #B5B4B4;

//FONT
$fontSize: 20px;

//SPACING
$spacing: 20px;
